@font-face {
  font-family: "Avenir";
  src: url("/fonts/Avenir-Book.ttf") format("truetype"),
    url("/fonts/Avenir-Roman.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Montserrat", "Avenir", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.color-yellow {
  background-color: #e6ca97;
}
.color-white {
  background-color: #d9d9d9;
}
.color-rose {
  background-color: #e1a4a9;
}

.color-picker-dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #ccc;
  transition: transform 0.1s, border 0.1s;
}
.color-picker-dot.active {
  border: 3px solid #333;
  transform: scale(1.1);
}
